.c-features__outer-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    align-items: flex-start;
}

.c-features__inner-wrapper {
    flex: 10 1 280px;
    display: flex;
    flex-direction: column;
    gap: 3rem;    
}

.c-features__developer {
    flex: 1 1 280px;
    padding: 30px;
    background-color: var(--color-grey-200);
    border-radius: 10px;
}

.c-features__feature {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;

    &:nth-child(even) {
        flex-wrap: wrap-reverse;
    }
}

.c-features__text-wrapper {
    flex: 10 1 250px;
}

.c-features__image {
    flex: 1 0 0;
    display: flex;
    justify-content: center;

    svg {
        width: 100px;

        @include mq(medium) {
            width: 150px;
        }
    }
}