.c-instructions__deploy-button {
    display: inline;
    vertical-align: middle;
}

.c-instructions__summary {
    margin-bottom: 1rem;;
    font-size: 1.5rem;
}

.c-instructions__video {
    display: block;
    max-width: 100%;
    margin: 40px auto 0;
}