---
layout: layout.njk
title: My Online Cookbook
---

<header>
    <h1 class="c-header__title">
        <div class="u-sr-only">{{ title }}</div>
        {% include "svg/logo.svg" %}
    </h1>
</header>

<main>
    <section class="c-cta__wrapper">
        <div class="u-container">
            <p>A free, open-source and easily extendable starter kit to create your own online recipes cookbook.</p>
            <a href="#get-started">Get started now</a> or <a href="https://myonlinecookbook.netlify.app/">check out a demo</a> of the kit in action.
        </div>
    </section>

    <section>
        <div class="u-container--narrow">
            <h2>Features</h2>
            <div class="c-features__wrapper">
                <div class="c-features__feature">
                    <span class="c-features__image">
                        {% include "svg/feature-simple.svg" %}
                    </span>
                    <div class="c-features__text-wrapper">
                        <h3>Easy to set up and maintain</h3>
                        <p>Get started in minutes, whether you have a technical background or not. No coding required (unless you want to) ! All the recipes and site options are editable from the admin interface. Focus on writing your recipes, not fighting to make your website work.</p>
                    </div>
                </div>

                <div class="c-features__feature">
                    <div class="c-features__text-wrapper">
                        <h3>Optimised for recipes</h3>
                        <p>Unlike other general-purpose templates and website builders, My Online Cookbook is optimised out of the box for writing and finding your recipes. Quickly visualise which ingredients you need, easily search for recipes using specific ingredients, and automatically adapt quantities based on the number of servings.</p>
                    </div>
                    <span class="c-features__image">
                        {% include "svg/feature-optimised.svg" %}
                    </span>
                </div>

                <div class="c-features__feature">
                    <span class="c-features__image">
                        {% include "svg/feature-free.svg" %}
                    </span>
                    <div class="c-features__text-wrapper">
                        <h3>No strings attached</h3>
                        <p>You own all of your content, not some online platform. Your website, your rules. No tracking scripts, no annoying popups, no ads (unless you choose to add some).</p>
                    </div>
                </div>

                <div class="c-features__feature">
                    <div class="c-features__text-wrapper">
                        <h3>Flexible and extensible</h3>
                        <p>My Online Cookbook uses <a href="https://www.11ty.dev/">eleventy</a>, a powerful yet simple to use static site generator, and <a href="https://www.netlifycms.org/">Netlify CMS</a> for the editing interface. There is no “magic” : everything is easily customisable, should you want to.</p>
                    </div>
                    <span class="c-features__image">
                        {% include "svg/feature-extensible.svg" %}
                    </span>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="u-container">
            <h2>Showcase</h2>

            <div class="c-showcase__wrapper">
                <div class="c-showcase__card-wrapper">
                    <a class="c-showcase__card" href="https://myonlinecookbook.netlify.app/">
                        <h3>Base project</h3>
                        <img src="/img/showcase-base.jpg" alt="Screenshot of the base project" width="300" height="180">
                    </a>
                    <p>This is what you get out of the box.</p>
                </div>

                <div class="c-showcase__card-wrapper">
                    <p>This one is my own cookbook. It’s in French (the kit is fully translatable).</p>
                    <a class="c-showcase__card" href="https://mael-recettes.netlify.app/">
                        <h3>My recipes</h3>
                        <img src="/img/showcase-my-recipes.jpg" alt="Screenshot of https://mael-recettes.netlify.app/" width="300" height="180">
                    </a>
                </div>

                <div class="c-showcase__card-wrapper">
                    <div class="c-showcase__card" href="https://myonlinecookbook.netlify.app/">
                        <h3>Add your own</h3>
                        <img src="/img/showcase-add.png" alt="plus sign" width="300" height="180">
                    </div>
                    <p>If you created your own cookbook with the kit and would like to be featured here, please <a href="mailto:maelbrunet@gmail.com">get in touch</a> !</p>
                </div>
            </div>
        </div>
    </section>

    <section id="get-started">
        <div class="u-container--narrow">
            <h2>How to get started</h2>

            <p>If you are a developer, you may find it easier to read the technical documentation in the <a href="https://github.com/maeligg/my-online-cookbook">project’s github repository</a>.</p>
            <p>Otherwise, read the instructions or watch the video below then click on <a href="https://app.netlify.com/start/deploy?repository=https://github.com/maeligg/my-online-cookbook&stack=cms"><img  class="c-instructions__deploy-button" src="https://www.netlify.com/img/deploy/button.svg" alt="deploy to netlify"></a> to set up your website.</p>
            
            <details class="c-instructions__details">
                <summary class="c-instructions__summary">Instructions</summary>
                <ol>
                    <li>You'll need a <a href="https://github.com/" target="_blank" rel="noopener noreferrer">GitHub</a> account (this is where the code of your site will be kept) and a <a href="https://www.netlify.com/" target="_blank" rel="noopener noreferrer">Netlify</a> account (to host and deploy your site). Simply go to these sites, click on "sign up" and follow the instructions. These are tools primarily made for developers, but don't worry ! You don't need to know how to code to use them.</li>
                    <li>Click on the "deploy to Netlify" button above, connect to GitHub, choose your repository name (this is only for you and will not be visible to visitors of your site) and click "save & deploy". Once finished, you'll be redirected to the Netlify dashboard, where you should see the live URL of your site at the top (which you can change later), and the status of the deployment.</li>
                    <li>You'll also have received an email at the email address you signed up with Netlify. Click on the link to complete the creation of the admin user of your website (do this before you change the URL of your site, otherwise you'll need to resend a new email invite).</li>
                    <li>Click on the URL of your site in the Netlify dashboard (it should look something like "https://random-words-12345.netlify.app"). To go to the admin interface, simply write "/admin" after the URL (e.g. "https://random-words-12345.netlify.app/admin"). Any changes you make here (after clicking on "publish") will update your website after around 30 seconds.</li>
                    <li>That's it, enjoy your website !</li>
                </ol>
            </details>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/84TYoXqtXfY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="c-instructions__video"></iframe>
        </div>
    </section>

    <section>
        <div class="u-container--narrow">
            <h2>Contact & support</h2>

            <p>If you have any questions, run into any problems using this kit, or would like to suggest any ideas or code changes, the best thing is to open an issue on the <a href="https://github.com/maeligg/my-online-cookbook/issues">github repository of the project</a>. You can also <a href="https://twitter.com/maelb">contact me over on Twitter</a> for any quick question or feedback. If you used and liked the kit, I would love to hear about it ! 🙂</p>
        </div>
    </section>
</main>

<footer class="c-footer">
    <span><a href="https://github.com/maeligg/my-online-cookbook-landing-page">Source code</a> of this website</span>
    <span>© <a href="https://www.maelbrunet.com/">Maël Brunet</a> {% year %}</span>
</footer>